<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bag Source</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
    
    <div class="row mt-4 mb-4">
      <div class="col-md-5 mt-2 mb-2 ml-2 mr-auto text-dark">
        <table class="table">
            <thead>
                <tr >
                   
                  <th scope="col">title</th>
                 

                  <th>description</th>
                
                  <th>image</th>
                  <th>categories: </th>
                  
                  <th>price: </th>
                 
                  
                </tr>
              </thead>
          <tbody>
            <% if (products != null ) { %>

              %>
             
             
            <% products.forEach(function(products) { %>
                <!-- for(let i in products){
                    products[i].userId;
                                 console.log("<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<",products[i].userId);
                } -->
             
            <tr>
                <td>
                
                    
                      <strong> <%= products.title%> </strong>
                    
                  
                </td>
              
            <td>
                <strong><%= products.description%></strong>


            </td>
            <td>
                <!-- <strong><%= products.image%></strong> -->
                <img
        src="<%=products.image%>"
        class="img-fluid product-img"
        alt="product image"
      />


            </td>
            <td>

                <strong><%= products.categories%></strong>

            </td>
            <td>

                <strong><%= products.price%></strong>

            </td>
            </tr>
  
          
        
            <% }) }else{%>
<tr><td colspan="3"><h1> Your products is empty</h1>
</td>
</tr>
<tr><strong>Total:0</strong></tr>
              <% } %>
              
           
             
              
          
          </tbody>
        
       
        </table>
      </div>
    </div>
    <!-- <a href="https://buy.stripe.com/test_dR603e6lx7zL8ggcMM"
    class="btn btn-block btn-secondary mt-3 mb-3 button-style">Order</a> -->
    <td>
   
  </td>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
    <script type="text/javascript">

    </script>
</body>

  
</td>

</html>