<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bag Source</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <!-- <a href="/logout">Logout</a> -->
  </header>
    <div class="container">
    <div class="row mt-4 mb-4">
    <div class="col-md-5 mt-2 mr-2 ml-auto">
      <img
        src="<%=product.image%>"
        class="img-fluid product-img"
        alt="product image"
      />
    </div>
    <div class="col-md-5 mt-2 mb-2 ml-2 mr-auto text-dark">
      <form action="/carts/add-to-cart/<%=product._id%>" method="POST">
      <p style="text-transform: uppercase;"><strong><%=product.title%></strong></p>
      <hr />
      <p class="price">Rupee ₹<%=product.price%></p>
      <p class="lead"> Description: 
        <p><%=product.description%></p>
      </p>
      <p><strong>Category:</strong> <%=product.categories%></p>
      <p><strong>Size:</strong> <%=product.size%></p>
      <p><strong>Color:</strong> <%=product.color%></p>
      <p class="is-available">In stock</p>
  
      <button class="btn btn-block btn-secondary mt-3 mb-3 button-style">
        Add to Shopping Cart
      </button>
    </form>
    </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>
